fastapi==0.100.0
uvicorn==0.23.0
wntr==0.4.0
python-multipart==0.0.6
# Required
numpy>=1.21,<2.0
scipy<1.13.0
networkx
pandas
matplotlib
setuptools

# Optional
plotly<6.0
folium
utm
openpyxl
geopandas
rasterio
rtree
